<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="bootstrap.php">   
    <php>
        <var name="DB_DSN" value="pdo_mysql;dbname=birthday_reminder_test;host=localhost" />
        <var name="DB_USER" value="reminder_app_test" />
        <var name="DB_PASSWD" value="12345" />
        <var name="DB_DBNAME" value="birthday_reminder_test" />
    </php>
</phpunit>
