<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>Reminder</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="css/kube.css">
        <link rel="stylesheet" href="css/index.css">
        <!-- Icon 
        -------------------------------------------------- -->
        <link rel="stylesheet" href="icon/style.css">

    </head>
    {% block body %}

            <div id="root">
            </div>

    {% endblock %}
    {% block javascripts %}
        <script src="http://reminder.com:3000/index.js"></script>
    {% endblock %}