<form action="{{ '/admin/login_check' }}" method="post">
    {{ error }}
    <input type="text" name="_name" value="{{ last_name }}" />
    <input type="password" name="_password" value="" />
    <input type="submit" />
</form>